h1 {
    color: red;
    margin-left: 2cm;
}

h2 {
    color: red;
    margin-left: 4cm;
}

p {
    text-indent: 2cm;
    color: darkred;
    margin-left: 6cm;
}

.ex6 {
    background: #121212;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justified;
    color: white
}

.ec6 .h1, .h2, .h3{
    margin-left: 2.5cm;
    font-family: Arial, Helvetica, sans-serif;

}

.ec6 .instructor {
    font-size: 14pt;
    margin-right: 1cm;
}